.header {
  width: 100%;
  background: gray;
  height: 70px;
  margin: 0 0 20px 0;
}
.footer {
  width: 100%;
  background: gray;
}
.main {
  display: flex;
}
.main__left,
.main__right {
  width: 50%;
}
.main__left {
  display: flex;
  justify-content: space-around;
}
.main__left input {
  width: 49%;
  margin-bottom: 15px;
}
button {
  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  background: grey;
  margin-top: 10px;
  box-shadow: 0 2px 25px grey;
}
.todo button {
  width: 15px;
  height: 15px;
  transform: translateY(10%);
}
.tab-pane form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-pane input {
  width: 90%;
  margin: 0 auto;
  height: 50px;
}
